<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form>
        <div class= "input-space">
            <label for="name">name</label>
            <input 
            type="text" 
            name= "name"
            id="name"
            placeholder="conference name"
       />
       </div>


       <div class= "input-space">
        <label for="where">where</label>
        <input 
        type="text" 
        name= "where"
        id="where"
        placeholder="where is the conference place"
   />

   <div class= "input-space">
    <label for="which">which</label>
    <input 
    type="text" 
    name= "which"
    id="which"
    placeholder="which room"
/>

<div class= "input-space">
    <label for="date">date</label>
    <input 
    type="date" 
    name= "date"
    id="date"
    placeholder="date"
/>
   </div>
    </form>
        <button class= "btn"> Search</button>
    </body>
</html>